#S5_Tool {
    width: 100%;
    overflow: hidden;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tools-track {
    display: flex;
    width: max-content;
    animation: scroll 3s infinite linear;
}

.tool-item {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 3vw;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    white-space: nowrap;
    transition: transform 0.3s ease;
}
.tool-item img {
    width: 60px;
    height: auto;
}

.tool-item:hover {
    transform: scale(1.1);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-10%);
    }
}