/*
#view-more {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 80%;
    height: 80%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    padding: 20px;
    color: white;
    border-radius: 25px;
}

#view-more .back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    background: #555;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#view-more-content {
    margin-top: 60px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    height: 70%;
    overflow-y: auto;
}

.case {
    margin-bottom: 20px;
}

.case button {
    margin-right: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.case button.github-btn {
    background-color: #24292e;
}
*/
